<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body class="bg-black">
    <header class="bg-amber-900 p-4 text-white">
      <div class="flex items-center justify-between flex-wrap">
        <div class="flex items-center text-white mr-6 ml-40 font bold text-xl">
          <a href="/">Weather App Assignment 3</a>
        </div>
        <div class="mr-40" id="nav-content">
          <div class="text-sm lg:flex-grow">
            <a
              href="/"
              class="inline-block mr-4 hover:bg-amber-600 hover:rounded"
            >
              Home
            </a>
            <a
              href="/signup"
              class="inline-block mr-4 hover:bg-amber-600 hover:rounded"
            >
              Signup
            </a>
            <a
              href="/login"
              class="inline-block mr-4 hover:bg-amber-600 hover:rounded"
            >
              Login
            </a>
          </div>
        </div>
      </div>
    </header>

    <form
      class="bg-amber-500 rounded-xl flex justify-center w-[40vw] mx-auto mt-20 p-10"
      id="login-form"
      action="/login"
      method="POST"
    >
      <div class="flex flex-col">
        <h1 class="text-2xl font-bold">Login</h1>
        <h2 class="">Username:</h2>
        <input type="text" id="username" name="username" required />
        <h2>Password:</h2>
        <input type="password" id="password" name="password" required />
        <button
          type="submit"
          class="bg-amber-700 hover:bg-amber-800 rounded mt-5"
        >
          Login
        </button>
      </div>
    </form>
    <footer class="flex justify-end mx-20">
      <h1 class="bg-amber-700 px-4 py-2 rounded-xl mb-5 bottom-5">
        Vadim Valov SE-2203
      </h1>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      window.onload = function () {
        const isAuthenticated = localStorage.getItem("isAuthenticated");
        if (isAuthenticated) {
          document.querySelector('a[href="/login"]').style.display = "none";
          document.querySelector('a[href="/signup"]').style.display = "none";
        } else {
          document.querySelector('a[href="/login"]').style.display = "block";
          document.querySelector('a[href="/signup"]').style.display = "block";
        }
      };
    </script>
  </body>
</html>
